<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet"
          href="~/css/site.css" />
</head>
<body>
    <h1>Michelle's Website</h1>

    <nav>
        <ul>
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("About Us", "About", "Home")</li>
            <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
            <li>@Html.ActionLink("Add Student", "Index", "Student")</li>

        </ul>
    </nav>

    <main>
        @RenderBody()
    </main>

    <footer>
        <p>Footer goes here...</p>
    </footer>
</body>
</html>
